
<div style="text-align:center">
  <h1>
    Willkommen zum {{ title }}
  </h1>
  <h3>
    der {{ organisation }}!
  </h3>


<div align="left">
    <a>Name der Schulung</a>
  <input matInput [(ngModel)]="nameSchulung" placeholder="Name der Schulung" />
</div>
<br>


<div align="left">
    <a>Datum von</a>
  <input matInput type="date" [(ngModel)]="datum_von" placeholder="datum_von" />
</div>
<br>


<div align="left">
    <a>Datum bis</a>
  <input matInput type="date" [(ngModel)]="datum_bis" placeholder="datum_bis" />
</div>
<br>


<div align="left">
    <a>Ort der Schulung</a>
  <input matInput [(ngModel)]="ort" placeholder="ort" />
</div>
<br>


<div align="left">
    <a>Kosten</a>
  <input matInput [(ngModel)]="kosten" placeholder="kosten" />
</div>
<br>

<button mat-raised-button color="primary" (click)="save()">Speichern</button>

<br>
<br>
<br>
<br>
<br>

<h5 align="left">Hier werden die bisherigen Eintraege des Nutzers angezeigt</h5>

<mat-list role="list">
  <mat-list-item *ngFor="let schulung of schulungsdatenListe" role="listitem">{{ schulung.datum_von }} - {{ schulung.datum_bis }} - {{ schulung.name }} - {{ schulung.ort }} - {{ schulung.kosten }}€</mat-list-item>
</mat-list>

<router-outlet></router-outlet>